<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Brandon M. Burroughs">
    <link rel="icon" href="static/favicon.ico">


    <title>Baby Names and Movie Stars</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span `class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Baby Names and Movies Stars</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="active">
                        <a class="page-scroll" href="#page-top">Project</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Enter an actor's or actress's name</h1>
                    <form>
                      <input type="name" class="form-control" id="inputActorName" placeholder="Name">
                    </form>
                    <br><br><br>
                </div>
                <div id="linechart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>About</h1>
                    <p class="lead">As part of my exploration of the <a href="https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data" target="_blank">"baby names" dataset</a>, I started to wonder how pop culture had an effect on the popularity of names.  There are various components of pop culture, but I decided to look into the effect popular movies and their stars had on popularity of names.</p>

                    <p class="lead">How should I look at this?  I'd want to see the overall popularity of the name, of course, but it might also be interesting to see if there is a spike when a movie star comes out with a new movie.  Did "Godfather" result in a lot of kids named Marlon or Al?  Did more kids get the name Quentin, John, Uma, or Samuel after "Pulp Fiction"?</p>

                    <p class="lead">This project is a web app to satisfy your curiosities about these questions.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                    <p class="lead">See the code on <a href="http://www.github.com/brandonmburroughs" target="_blank">Github</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrolling-nav.js"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Chart Code -->
    <script type="text/javascript">

      // Setup before functions
      var typingTimer;                //timer identifier
      var doneTypingInterval = 2000;  //time in ms, 5 second for example
      var $input = $('#inputActorName');

      // On keyup, start the countdown
      $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      });

      //on keydown, clear the countdown 
      $input.on('keydown', function () {
        clearTimeout(typingTimer);
      });

      //user is "finished typing," do something
      function doneTyping () {

          var processed_json = new Array();

          // Parse form data and get first name
          var actor_name = $('#inputActorName').val().split(" ")[0]

          $.getJSON('http://127.0.0.1:5000/segment-baby-names?name='.concat(actor_name).concat(''), function (data) {

              // Parse JSON
              parsed_json = JSON.parse(data)

              // Populate series
              for (i = 0; i < parsed_json.length; i++) {
                processed_json.push([parsed_json[i]['year'], parsed_json[i]['count']])
              }

              // Construct chart
              $('#linechart').highcharts({
                  chart: {
                      zoomType: 'x'
                  },
                  title: {
                      text: 'Baby Names Over Time: '.concat(actor_name)
                  },
                  subtitle: {
                      text: document.ontouchstart === undefined ?
                              'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                  },
                  xAxis: {
                      title: {
                        text: 'Year'
                      }
                  },
                  yAxis: {
                      title: {
                          text: 'Yearly Name Count'
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  series: [{
                      type: 'line',
                      name: 'Baby Name Count',
                      data: processed_json
                  }]
              });
          });
      }

    </script>

</body>

</html>
